body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#app {
    width: 80%;
    max-width: 800px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

#calendar {
    margin-top: 20px;
}